.orders {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.orders .orders-header {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #000;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.orders .orders-header .order-id {
  width: 70%;
  text-align: start;
}

.orders .orders-header .order-total {
  width: 15%;
}

.orders .orders-header .order-status {
  width: 15%;
}

.orders .order {
  display: flex;
  text-align: center;
  padding-left: 10px;
  margin-bottom: 15px;
}

.orders .order .id {
  width: 70%;
  text-align: start;
}

.orders .order .total {
  width: 15%;
}

.orders .order .status {
  width: 15%;
}

@media (max-width: 900px) {
  .orders {
    width: 90%;
  }

  .orders .orders-header {
    font-size: 14px;
  }

  .orders .order {
    font-size: 12px;
  }

  .card .btn {
    margin-top: 1em;
    font-size: 14px;
  }
}
